<div id="agencyCharts" style="width: 100%; height: 100%"></div>
<script type="text/javascript">
    var agencyCharts_main = echarts.init(document.getElementById('agencyCharts'));
/*    let colorList = ['#9754c6'];
    let colorListLen = colorList.length;
    let fontSizeList = [
        12,12.5,13,13.5,14,14.5,
        15,15.5,16,16.5,17,17.5,
        18,18.5,19,19.5,20,20.5,
        21,22,23,
        24];
    let fontSizeListLen = fontSizeList.length;
    let customLabel = {
        color: colorList[Math.floor(Math.random()*colorListLen)],
        fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
    };
    let bgColor = '#9754c6';
    let canDraggable = false;*/
    var option = {
        itemStyle: {
            color: bgColor
        },
        series: [
            {
                type: 'graph',
                layout: 'force',
                force: {
                    repulsion: 40,
                    edgeLength: 10
                },
                roam: 'scale',
                // symbol: '',
                // symbolSize: 0,
                label: {
                    show: true,
                    color: 'auto',
                    fontSize: 14
                },
                data: [
                    {
                        name: '听音乐',
                        value: 2,
                        draggable: canDraggable,
                        symbolSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)],
                        itemStyle: {
                            color: bgColor,
                        },
                        label: {
                            position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '看电影',
                        value: 12,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: {
                            position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '跑步',
                        value: 22,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: {
                            position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '瑜伽',
                        value: 42,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor,
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '发呆',
                        value: 52,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '阅读',
                        value: 62,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '唱歌',
                        value: 72,
                        draggable: canDraggable,
                        itemStyle: { position:"top",
                            color: bgColor
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '跳舞',
                        value: 72,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '追星',
                        value: 72,
                        draggable: canDraggable,
                        itemStyle: {
                            color: bgColor
                        },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '看星星',
                        value: 72,
                        draggable: canDraggable,
                        // itemStyle: {
                        //     color: bgColor
                        // },
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '看月亮',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '吃汉堡',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '做早餐',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '爬山',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '旅行',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '喝奶茶',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '买衣服',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '理财',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '洗衣服',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '收纳',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '早起',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '熬夜',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '追剧',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '逛街',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '敲代码',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '创作',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '做梦',
                        value: 72,
                        draggable: canDraggable,
                        label: { position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '悲伤',
                        value: 72,
                        draggable: canDraggable,
                        label: {
                            position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    },
                    {
                        name: '开心',
                        value: 72,
                        draggable: canDraggable,
                        label: {
                            position:"top",
                            color: colorList[Math.floor(Math.random()*colorListLen)],
                            fontSize: fontSizeList[Math.floor(Math.random()*fontSizeListLen)]
                        }
                    }
                ]
            }
        ]
    }
    agencyCharts_main.setOption(option);
</script>
